/* don't indent each paragraph since we frequently use equations */
main p {
    text-indent: 0rem !important;
}


/* if we have two paragraphs after each other, then indent */
main p + p {
    text-indent: 1.5rem !important;
}

/* if we have paragraph after header, then indent */
main h1 + p, h2 + p, h3 + p {
    text-indent: 1.5rem !important;
}

/* math equations by default have some extra space at the top */
/*div .m-math {*/
/*    margin-top: -1.5rem;*/
/*}*/

/* handle youtube images on the readme page */
a .m-image {
    display: inline !important;
}

/* do not lowercase the title of the project */
body > header > nav a#m-navbar-brand, body > header > nav #m-navbar-brand a {
    text-transform: none;
}


/* REMOVE BAD M.CSS THEME SETTING: */
/* light grey text is hard to see */
.m-doc-template, dl.m-doc dd, ul.m-doc li > span.m-doc {
    color: #1a1a1a;
}

.m-doc-template a, dl.m-doc dd a, ul.m-doc li > span.m-doc a {
    color: #1a1a1a;
}

.m-block.m-dim, .m-text.m-dim, .m-label.m-flat.m-dim {
    color: #1a1a1a;
}