<launch>

    <!-- mono or stereo and what ros bag to play -->
    <arg name="max_cameras" default="2" />
    <arg name="use_stereo"  default="true" />

    <!-- saving trajectory path and timing information -->
    <arg name="dosave"      default="false" />
    <arg name="dotime"      default="false" />
    <arg name="path_est"    default="/tmp/traj_estimate.txt" />
    <arg name="path_time"   default="/tmp/traj_timing.txt" />

    <!-- MASTER NODE! -->
    <node name="run_serial_msckf" pkg="ov_msckf" type="run_serial_msckf" output="screen" clear_params="true" required="true">
<!--    <node name="run_serial_msckf" pkg="ov_msckf" type="run_serial_msckf" output="screen" clear_params="true" required="true" launch-prefix="gdb -ex run &#45;&#45;args">-->

        <!-- bag topics -->
        <param name="topic_imu"      type="string" value="/imu0" />
        <param name="topic_camera0"  type="string" value="/cam0/image_raw" />
        <param name="topic_camera1"  type="string" value="/cam1/image_raw" />
        <rosparam param="stereo_pairs">[0, 1]</rosparam>

        <!-- bag parameters -->
        <param name="path_bag"    type="string" value="/home/patrick/datasets/ironsides/neighborhood_01.bag" /> <!-- neighborhood_01, neighborhood_02 -->
        <param name="bag_start"   type="int"    value="0" />
        <param name="bag_durr"    type="int"    value="-1" />

        <!-- world/filter parameters -->
        <param name="use_fej"                type="bool"   value="true" />
        <param name="use_imuavg"             type="bool"   value="true" />
        <param name="use_rk4int"             type="bool"   value="true" />
        <param name="use_stereo"             type="bool"   value="$(arg use_stereo)" />
        <param name="calib_cam_extrinsics"   type="bool"   value="true" />
        <param name="calib_cam_intrinsics"   type="bool"   value="true" />
        <param name="calib_cam_timeoffset"   type="bool"   value="true" />
        <param name="calib_camimu_dt"        type="double" value="0.02" />
        <param name="max_clones"             type="int"    value="15" />
        <param name="max_slam"               type="int"    value="25" />
        <param name="max_slam_in_update"     type="int"    value="25" /> <!-- 15 seems to work well -->
        <param name="max_msckf_in_update"    type="int"    value="40" />
        <param name="max_cameras"            type="int"    value="$(arg max_cameras)" />
        <param name="dt_slam_delay"          type="double" value="1" />
        <param name="init_window_time"       type="double" value="1.0" />
        <param name="init_imu_thresh"        type="double" value="0.5" />
        <rosparam param="gravity">[0.0,0.0,9.802]</rosparam>
        <param name="feat_rep_msckf"         type="string" value="ANCHORED_MSCKF_INVERSE_DEPTH" />
        <param name="feat_rep_slam"          type="string" value="ANCHORED_MSCKF_INVERSE_DEPTH" />
        <param name="feat_rep_aruco"         type="string" value="ANCHORED_MSCKF_INVERSE_DEPTH" />

        <!-- zero velocity update parameters -->
        <param name="try_zupt"               type="bool"   value="true" />
        <param name="zupt_chi2_multipler"    type="int"    value="1" />
        <param name="zupt_max_velocity"      type="double" value="0.5" />
        <param name="zupt_noise_multiplier"  type="double" value="25" />

        <!-- timing statistics recording -->
        <param name="record_timing_information"   type="bool"   value="$(arg dotime)" />
        <param name="record_timing_filepath"      type="string" value="$(arg path_time)" />

        <!-- tracker/extractor properties -->
        <param name="use_klt"            type="bool"   value="true" />
        <param name="num_pts"            type="int"    value="250" />
        <param name="fast_threshold"     type="int"    value="15" />
        <param name="grid_x"             type="int"    value="5" />
        <param name="grid_y"             type="int"    value="5" />
        <param name="min_px_dist"        type="int"    value="10" />
        <param name="knn_ratio"          type="double" value="0.65" />
        <param name="downsample_cameras" type="bool"   value="false" />
        <param name="multi_threading"    type="bool"   value="true" />

        <param name="fi_max_dist"        type="double" value="100" />
        <param name="fi_max_baseline"    type="double" value="999" />
        <param name="fi_max_cond_number" type="double" value="18000" />

        <!-- aruco tag/mapping properties -->
        <param name="use_aruco"        type="bool"   value="false" />
        <param name="num_aruco"        type="int"    value="1024" />
        <param name="downsize_aruco"   type="bool"   value="true" />

        <!-- sensor noise values / update -->
        <param name="up_msckf_sigma_px"            type="double"   value="1" />
        <param name="up_msckf_chi2_multipler"      type="double"   value="1" />
        <param name="up_slam_sigma_px"             type="double"   value="1" />
        <param name="up_slam_chi2_multipler"       type="double"   value="1" />
        <param name="up_aruco_sigma_px"            type="double"   value="1" />
        <param name="up_aruco_chi2_multipler"      type="double"   value="1" />
        <param name="gyroscope_noise_density"      type="double"   value="1.1186830841306218e-04" />
        <param name="gyroscope_random_walk"        type="double"   value="8.997530210630026e-07" />
        <param name="accelerometer_noise_density"  type="double"   value="0.0027052931930236323" />
        <param name="accelerometer_random_walk"    type="double"   value="1.3054568211204843e-04" />


        <!-- camera intrinsics -->
        <rosparam param="cam0_wh">[640, 480]</rosparam>
        <rosparam param="cam1_wh">[640, 480]</rosparam>
        <param name="cam0_is_fisheye" type="bool" value="true" />
        <param name="cam1_is_fisheye" type="bool" value="true" />
        <rosparam param="cam0_k">[276.4850207717928, 278.0310503180516, 314.5836189313042, 240.16980920673427]</rosparam>
        <rosparam param="cam0_d">[-0.03149689493503132, 0.07696336480701078, -0.06608854732019281, 0.019667561645120218]</rosparam>
        <rosparam param="cam1_k">[277.960323846132, 279.4348778432714, 322.404194404853, 236.72685252691352]</rosparam>
        <rosparam param="cam1_d">[-0.02998039058251529, 0.07202819722706337, -0.06178718820631651, 0.017655045017816777]</rosparam>


        <!-- camera extrinsics -->
        <rosparam param="T_C0toI">
            [
            0.99992127, -0.0078594, 0.0097819, -0.05845078,
            0.00784873, 0.99996856, 0.00112822, -0.00728728,
            -0.00979046, -0.00105136, 0.99995152, 0.0623674,
            0.00000000, 0.00000000, 0.00000000, 1.00000000
            ]
        </rosparam>
        <rosparam param="T_C1toI">
            [
            0.99995933, 0.00327998, 0.00840069, 0.00793529,
            -0.00328309, 0.99999455, 0.000356, -0.00716413,
            -0.00839948, -0.00038357, 0.99996465, 0.06245421,
            -0.00000000,0.00000000,0.00000000,1.00000000
            ]
        </rosparam>


    </node>

    <!-- record the trajectory if enabled -->
    <group if="$(arg dosave)">
        <node name="recorder_estimate" pkg="ov_eval" type="pose_to_file" output="screen" required="true">
            <param name="topic"      type="str" value="/ov_msckf/poseimu" />
            <param name="topic_type" type="str" value="PoseWithCovarianceStamped" />
            <param name="output"     type="str" value="$(arg path_est)" />
        </node>
    </group>


</launch>