.m-code .hll {
    background-color: #ffffcc
}

.m-code {
    background: #f8f8f8;
}

.m-code .c {
    color: #8f5902;
    font-style: italic
}

/* Comment */
.m-code .err {
    color: #a40000;
    border: 1px solid #ef2929
}

/* Error */
.m-code .g {
    color: #000000
}

/* Generic */
.m-code .k {
    color: #204a87;
    font-weight: bold
}

/* Keyword */
.m-code .l {
    color: #000000
}

/* Literal */
.m-code .n {
    color: #000000
}

/* Name */
.m-code .o {
    color: #ce5c00;
    font-weight: bold
}

/* Operator */
.m-code .x {
    color: #000000
}

/* Other */
.m-code .p {
    color: #000000;
    font-weight: bold
}

/* Punctuation */
.m-code .ch {
    color: #8f5902;
    font-style: italic
}

/* Comment.Hashbang */
.m-code .cm {
    color: #8f5902;
    font-style: italic
}

/* Comment.Multiline */
.m-code .cp {
    color: #8f5902;
    font-style: italic
}

/* Comment.Preproc */
.m-code .cpf {
    color: #8f5902;
    font-style: italic
}

/* Comment.PreprocFile */
.m-code .c1 {
    color: #8f5902;
    font-style: italic
}

/* Comment.Single */
.m-code .cs {
    color: #8f5902;
    font-style: italic
}

/* Comment.Special */
.m-code .gd {
    color: #a40000
}

/* Generic.Deleted */
.m-code .ge {
    color: #000000;
    font-style: italic
}

/* Generic.Emph */
.m-code .gr {
    color: #ef2929
}

/* Generic.Error */
.m-code .gh {
    color: #000080;
    font-weight: bold
}

/* Generic.Heading */
.m-code .gi {
    color: #00A000
}

/* Generic.Inserted */
.m-code .go {
    color: #000000;
    font-style: italic
}

/* Generic.Output */
.m-code .gp {
    color: #8f5902
}

/* Generic.Prompt */
.m-code .gs {
    color: #000000;
    font-weight: bold
}

/* Generic.Strong */
.m-code .gu {
    color: #800080;
    font-weight: bold
}

/* Generic.Subheading */
.m-code .gt {
    color: #a40000;
    font-weight: bold
}

/* Generic.Traceback */
.m-code .kc {
    color: #204a87;
    font-weight: bold
}

/* Keyword.Constant */
.m-code .kd {
    color: #204a87;
    font-weight: bold
}

/* Keyword.Declaration */
.m-code .kn {
    color: #204a87;
    font-weight: bold
}

/* Keyword.Namespace */
.m-code .kp {
    color: #204a87;
    font-weight: bold
}

/* Keyword.Pseudo */
.m-code .kr {
    color: #204a87;
    font-weight: bold
}

/* Keyword.Reserved */
.m-code .kt {
    color: #204a87;
    font-weight: bold
}

/* Keyword.Type */
.m-code .ld {
    color: #000000
}

/* Literal.Date */
.m-code .m {
    color: #0000cf;
    font-weight: bold
}

/* Literal.Number */
.m-code .s {
    color: #4e9a06
}

/* Literal.String */
.m-code .na {
    color: #c4a000
}

/* Name.Attribute */
.m-code .nb {
    color: #204a87
}

/* Name.Builtin */
.m-code .nc {
    color: #000000
}

/* Name.Class */
.m-code .no {
    color: #000000
}

/* Name.Constant */
.m-code .nd {
    color: #5c35cc;
    font-weight: bold
}

/* Name.Decorator */
.m-code .ni {
    color: #ce5c00
}

/* Name.Entity */
.m-code .ne {
    color: #cc0000;
    font-weight: bold
}

/* Name.Exception */
.m-code .nf {
    color: #000000
}

/* Name.Function */
.m-code .nl {
    color: #f57900
}

/* Name.Label */
.m-code .nn {
    color: #000000
}

/* Name.Namespace */
.m-code .nx {
    color: #000000
}

/* Name.Other */
.m-code .py {
    color: #000000
}

/* Name.Property */
.m-code .nt {
    color: #204a87;
    font-weight: bold
}

/* Name.Tag */
.m-code .nv {
    color: #000000
}

/* Name.Variable */
.m-code .ow {
    color: #204a87;
    font-weight: bold
}

/* Operator.Word */
.m-code .w {
    color: #f8f8f8;
    text-decoration: underline
}

/* Text.Whitespace */
.m-code .mb {
    color: #0000cf;
    font-weight: bold
}

/* Literal.Number.Bin */
.m-code .mf {
    color: #0000cf;
    font-weight: bold
}

/* Literal.Number.Float */
.m-code .mh {
    color: #0000cf;
    font-weight: bold
}

/* Literal.Number.Hex */
.m-code .mi {
    color: #0000cf;
    font-weight: bold
}

/* Literal.Number.Integer */
.m-code .mo {
    color: #0000cf;
    font-weight: bold
}

/* Literal.Number.Oct */
.m-code .sa {
    color: #4e9a06
}

/* Literal.String.Affix */
.m-code .sb {
    color: #4e9a06
}

/* Literal.String.Backtick */
.m-code .sc {
    color: #4e9a06
}

/* Literal.String.Char */
.m-code .dl {
    color: #4e9a06
}

/* Literal.String.Delimiter */
.m-code .sd {
    color: #8f5902;
    font-style: italic
}

/* Literal.String.Doc */
.m-code .s2 {
    color: #4e9a06
}

/* Literal.String.Double */
.m-code .se {
    color: #4e9a06
}

/* Literal.String.Escape */
.m-code .sh {
    color: #4e9a06
}

/* Literal.String.Heredoc */
.m-code .si {
    color: #4e9a06
}

/* Literal.String.Interpol */
.m-code .sx {
    color: #4e9a06
}

/* Literal.String.Other */
.m-code .sr {
    color: #4e9a06
}

/* Literal.String.Regex */
.m-code .s1 {
    color: #4e9a06
}

/* Literal.String.Single */
.m-code .ss {
    color: #4e9a06
}

/* Literal.String.Symbol */
.m-code .bp {
    color: #3465a4
}

/* Name.Builtin.Pseudo */
.m-code .fm {
    color: #000000
}

/* Name.Function.Magic */
.m-code .vc {
    color: #000000
}

/* Name.Variable.Class */
.m-code .vg {
    color: #000000
}

/* Name.Variable.Global */
.m-code .vi {
    color: #000000
}

/* Name.Variable.Instance */
.m-code .vm {
    color: #000000
}

/* Name.Variable.Magic */
.m-code .il {
    color: #0000cf;
    font-weight: bold
}

/* Literal.Number.Integer.Long */
